block content
<div>
  <h2>Author List</h2>
  <div class="container">
    <div class="col">
      <a href="/authors"><img class="cover" src="/images/portrait.png" alt="Cover"></a>
      <div class="author">
        <a href="/authors">Author</a>
        <p>birthday-death</p>
      </div>
    </div>
    <div class="col">
      <a href="/authors"><img class="cover" src="/images/portrait.png" alt="Cover"></a>
      <div class="author">
        <a href="/authors">Author</a>
        <p>birthday-death</p>
      </div>
    </div>
  </div>
  <div class="switch">
    <p class="left">&#60;</p>
    <p class="active">1</p>
    <p class="inactive">2</p>
    <p class="inactive">3</p>
    <p class="right">&#62;</p>
  </div>
</div>