block content
<div>
  <h2>Book List</h2>
  <div class="container">
    <div class="col">
      <a href="/books"><img class="cover" src="/images/cover.png" alt="Cover"></a>
      <div class="book">
        <a href="/books">Title</a>
        <p>Author</p>
      </div>
    </div>
    <div class="col">
      <a href="/books"><img class="cover" src="/images/cover.png" alt="Cover"></a>
      <div class="book">
        <a href="/books">Title</a>
        <p>Author</p>
      </div>
    </div>
    <div class="col">
      <a href="/books"><img class="cover" src="/images/cover.png" alt="Cover"></a>
      <div class="book">
        <a href="/books">Title</a>
        <p>Author</p>
      </div>
    </div>
    <div class="col">
      <a href="/books"><img class="cover" src="/images/cover.png" alt="Cover"></a>
      <div class="book">
        <a href="/books">Title</a>
        <p>Author</p>
      </div>
    </div>
  </div>
  <div class="switch">
    <p class="left">&#60;</p>
    <p class="active">1</p>
    <p class="inactive">2</p>
    <p class="inactive">3</p>
    <p class="right">&#62;</p>
  </div>
</div>