block content
<div class="map">
  <map name="infographic">
    <area shape="poly" coords="115,115,215,58,215,175,115,230"
          href="/books"
          target="_blank" alt="Books" />
    <area shape="poly" coords="115,115,115,230,17,174,17,58"
          href="/authors"
          target="_blank" alt="Authors" />
    <area shape="poly" coords="115,115,215,58,115,2,20,58"
          href="/tags"
          target="_blank" alt="Tags" />
  </map>
  <img usemap="#infographic" src="/images/cube.png" alt="infographic" widht="260" height="232" />
</div>

