<html>
    <head>
      <meta charset="utf-8">
      <style type="text/css">
            div{
                border: 1px solid black;
            }
        </style>
        <script src="../js/12.js"></script>
    </head>
    <body>
        <div>
            <form name='p_name'>
                <p>Enter fullname: <input type="text" name="person_name"> <button type="button" onclick="validateName(p_name)">Validate!</button> <output name="result"></output></p>
            </form>
        </div>
        <div>
            <form name='mail'>
                <p>Enter e-mail: <input type="text" name="person_mail"> <button type="button" onclick="validateMail(mail)">Validate!</button> <output name="result"></output> </p>
            </form>
        </div>
        <div>
            <form name='number'>
                <p>Enter phone number: <input type="text" name="person_phone"> <button type="button" onclick="validatePhone(number)">Validate!</button> <output name="result"></output> </p>
            </form>
        </div>
    </body>
</html>