<html><head>
    <title>laba5</title>
	<meta charset="utf-8">
  <script type="text/javascript" src="../js/5.js"></script>
    <style type="text/css">
      div{
        width: 350px;
        margin-right: 50px;
      }
    </style>
  </head>
  <body>
    <div>
      <form name="HR">
        <hr name="line">
        <p>100px<input type="radio" name="width" value="100px" onclick="change_width(HR)">
           200px<input type="radio" name="width" value="200px" onclick="change_width(HR)">
           350px<input type="radio" name="width" value="350px" onclick="change_width(HR)"></p>
      </form>
    </div>
    <br>
    <div>
      <form name="blank">
        <p> Розробити анкету, що визначає стать, вік, сімейне положення особи, і передає ці дані в скрипт. </p>
        <p>Name:     <input type="text" name="Name:"><br>Surname: <input type="text" name="Surname:"></p>
        <p>M<input type="radio" name="Sex:" value="male">F<input type="radio" name="Sex:" value="female"></p>
        <p>Age: <input type="number" name="Age: "></p>
        <p>Married <input type="radio" name="Is married:" value="Married"> Not Married <input type="radio" name="Is married:" value="Not married"></p>
        <p><button type="button" onclick="send_data(blank)" name=""> Sign Up</button></p>
      </form>
  
    </div>
  
  </body></html>