<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src='../js/8.js'></script>
	<style>
		div{
			border:solid 1px black;
			
		}
	</style>
	<title></title>
</head>
<body>
	<div>
		<form name='rev'>
			<p>Enter value: <input type="text" name="number"> <input type="button" onclick="reverse(rev)" name="" value="Reverse"></p>
			<p><output name='result'> </output></p>
		</form>
	</div>
	<div>
		<form name='ticket'>
			<p>Enter ticket number: <input type="text" name="ticket_num"> <input type="button" onclick="allLucky(ticket)" name="" value="Lucky?"></p>
			<p><output name='result'> </output></p>
		</form>
	</div>

	<div>
		<form name='delims'>
			<div>
				<p>Enter number: <input type="text" name="num"> <input type="button" onclick="delimiters(delims)" name="" value="Delims"></p>
				<ul></ul>
				<p><output name='result'></output></p>
			</div>
		</form>
	</div>

</body>
</html>