<html>
 <head>
  <meta charset="utf-8">
  <title> В які місяці року 13 число – п’ятниця?</title>
  <script src="../js/9.js"></script>
 </head>
 <body>
  <form name="form1">
    Date: <input type="date" name="date" id="date">
    <br>
    <input type="button" value="Determine" onclick="week(form1)">
    Week: <input type="text" size=8 name="weekRes">
    <br>
    <input type="button" value="Determine" onclick="zodiac(form1)">
    Zodiac: <input type="text" size=8 name="zodRes">
    <br>
    <input type="button" value="Determine" onclick="chineseZodiac(form1)">
    Chinese Zodiac: <input type="text" size=8 name="chRes">
  </from>
  <br>
  </body>
</html> 