<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LocalLibrary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div>
      <div>
        <div class="topnav">
          <a href="/catalog">Home</a>
          <a href="/books">Books</a>
          <a href="/authors">Authors</a>
          <input type="text" placeholder="Search...">
        </div>
        <div class="content">
          block content
        </div>
        <div class="footer">
          <div class="popular">
            <p>Popular:</p>
            <a href="/catalog">Book-Author</a>
            <a href="/catalog">Book-Author</a>
            <a href="/catalog">Book-Author</a>
            <a href="/catalog">Book-Author</a>
            <a href="/catalog">Book-Author</a>
          </div>
          <div class="info">
            <a class="footMap" href="/map">Map</a>
            <a class="index" href="/">Index</a>
          </div>
        </div>
      </div>
    </div>
  </body>